.card-image{
    width: 180px;
    height: 130px;
    border-radius: 4px;
}
@media screen and (min-width: 576px) {
    .card-image{
        width: 380px;
        height: 230px;
    }
}
.each-card-container{
    margin: 5px;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.item-cost{
    color: rgb(160, 144, 144);
}
@media screen and (min-width: 576px) {
    .item-cost{
        font-size: 19px;
    }
}
.food-item-name{
    font-family: "Roboto";
    font-size: 16px;
}
@media screen and (min-width: 576px) {
    .food-item-name{
        font-size: 18px;
    }
}