.fooditemdetails-container {
  background-color: rgb(48, 38, 38);
  color: white;
  min-height: 100vh;
  font-family: "roboto";
  margin-top: 60px;
}

.item-description {
  font-size: 17px;
  font-family: sans-serif;
  text-align: start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.options {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-buttons-container {
  display: flex;
  align-items: center;
}

.loading-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failureViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  height: 50vh;
}

.retryButton {
  padding: 9px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.failure-image {
  height: 60px;
  width: 60px;
}

.failure-text {
  font-size: 13px;
}

.fooditemdetails-image {
  width: 100%;
  max-width: 400px;
  height: 250px;
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 81, 81);
  padding: 9px;
  color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 81, 81);
  padding: 9px;
  color: white;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 5px;
}

.addto-cart {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 20px;
  background-color: rgb(228, 152, 12);
  color: white;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-sub-contaner {
  margin: 10px;
}



textarea {
  margin-top: 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  outline: none;
}

.checkout-cart {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 20px;
  background-color: #e73333;
  color: white;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link{
  text-decoration: none;
}