.cartitem-li-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 95%;
}
.items-quantity{
    color: rgb(211, 183, 183);
}
.order-item-remove-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
.remove-button{
    background-color: transparent;
    border: none;
    color: inherit;
    margin-right: 15px;
}