
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}


.popup {
    background-color: #ffffff;
    color: #333333;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    animation: popupAnim 0.5s ease-in-out;
    border: 2px solid #f07828;
}

.popup-header h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    color: #f07828;
    text-transform: uppercase;
    font-weight: bold;
}

.popup-body p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #555555;
}

.popup-body strong {
    font-size: 20px;
    color: #f07828;
}

.btn-close {
    background-color: #f07828;
    color: #fff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}

.btn-close:hover {
    background-color: #d16420;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popupAnim {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}


@media (max-width: 768px) {
    .popup {
        width: 90%;
        padding: 20px;
    }

    .popup-header h2 {
        font-size: 22px;
    }

    .popup-body p {
        font-size: 16px;
    }

    .btn-close {
        font-size: 14px;
        padding: 10px 20px;
        margin: 10px;
    }
}


@media (max-width: 480px) {
    .popup {
        width: 95%;
        padding: 15px;
    }

    .popup-header h2 {
        font-size: 18px;
    }

    .popup-body p {
        font-size: 14px;
    }

    .btn-close {
        font-size: 12px;
        padding: 8px 15px;
        margin: 10px;
    }
}

