.home-bg-container{
    background-color: black;
    min-height: 100vh;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}
.home-container {
    width: 100%;
    color: white;
    margin-top: 60px;
    align-self: center;
}
@media screen and (min-width:576px) {
    .home-container{
        width: 95%;
    }
}
.movies-container{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    list-style-type: none;
    margin-bottom: 15px;
}
.movie-poster{
    height: 210px;
    width: 190px;
    margin: 10px;
    border-radius: 3px;
}
::-webkit-scrollbar {
    width: 2px; 
    height: 2px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #201c1c; 
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    background: #181616;
  }
  
h3{
    margin-left: 5px;
    font-family: sans-serif;
}

.cards-list-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: space-evenly;
    width: 100%;
}

.cards-list-container::-webkit-scrollbar {
    display: none;
}

.cards-list-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.category-section{
    margin-bottom: 10px;
}