.home-container {
    background-color: black;
    min-height: 100vh;
    color: white;
    margin-top: 60px;
    padding-top: 15px;
}
h3{
    margin-left: 5px;
}

.cards-list-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: space-evenly;
    width: 100%;
}

.cards-list-container::-webkit-scrollbar {
    display: none;
}

.cards-list-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.category-section{
    margin-bottom: 10px;
}